/* Common Styles */

* {
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F0F0F0;
  min-width: fit-content;
}

a[type=button], button {
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease;

  &:hover {
    transition: all 0.3s ease;
  }

  &:active {
    transition: all 10ms linear;
  }
}

#error-message {
  color: red;
}

.hidden {
  display: none;
}

#recherche {
  background-color: #DBDBDB;
  display: flex;
  padding: 32px;
  border-radius: 50px;
  align-items: center;
  gap: 32px;

  #choix {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    outline: none;
  }
}

#champRecherche {
  outline: none;
  border: none;
  padding: 12px 16px;
  border-radius: 20px;
}

.barreRecherche {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding-right: 12px;
}