/* Common Styles */

* {
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F0F0F0;
  min-width: fit-content;
}

a[type=button], button {
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease;

  &:hover {
    transition: all 0.3s ease;
  }

  &:active {
    transition: all 10ms linear;
  }
}

#error-message {
  color: red;
}

.hidden {
  display: none;
}

#recherche {
  background-color: #DBDBDB;
  display: flex;
  padding: 32px;
  border-radius: 50px;
  align-items: center;
  gap: 32px;

  #choix {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 16px;
    outline: none;
  }
}

#champRecherche {
  outline: none;
  border: none;
  padding: 12px 16px;
  border-radius: 20px;
}

.barreRecherche {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding-right: 12px;
}

#capaciteWrapper , #objetsWrapper , #pokedexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 32px;

  h1 {
    font-weight: normal;
    font-size: 40px;
    margin: 16px 0 0;
  }

  .common-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border-radius: 20px;
    padding: 16px;
    width: 1250px;
  }

  .list{
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #DBDBDB;
    border-radius: 20px;
    gap: 32px;
  }

  .card-display{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    justify-content: space-evenly;
  }

  .card-display button {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    background-color: #C20808;
    white-space: nowrap;
    border-radius: 20px;
    padding: 12px 16px;
    border: none;
    font-size: 18px;

    img {
      transition: all 0.5s ease;
      &.rotated {
        transform: rotate(-180deg);
      }
    }
  }

  .card-display button:hover {
    background-color: #EE1515;
  }

  .common-name{
    font-size: 24px;
    white-space: nowrap;
    font-weight: bold;

  }
}