#objetsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 32px;


    h1 {
        font-weight: normal;
        font-size: 40px;
        margin: 16px 0 0;
    }

    #recherche {
        background-color: #DBDBDB;
        display: flex;
        padding: 32px;
        border-radius: 50px;
        align-items: center;
        gap: 32px;
    }

    #champRecherche {
        outline: none;
        border: none;
        padding: 12px 16px;
        border-radius: 20px;
    }

    .barreRecherche {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        border-radius: 20px;
        padding-right: 12px;
    }

    .boutonRecherche {
        border: none;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
    }
}

