header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    padding: 10px 16px;
    background-color: #EE1515;
    white-space: nowrap;

    nav {
        display: flex;
        gap: 32px;
    }

    #boutonAccueil {
        display: flex;
        align-items: center;
        gap: 32px;
        color: white;
    }

    .boutonNavigation {
        display: flex;
        align-items: center;
        gap: 16px;
        color: white;
        font-size: 24px;
        background-color: #C20808;
        border-radius: 20px;
        height: 80px;
        padding: 0 16px;
    }

    .boutonNavigation:hover {
        background-color: #a80707;
    }

    .spinning {
        animation: spin 0.5s ease;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}