#pokedexWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 32px;

    h1 {
        font-weight: normal;
        font-size: 40px;
        margin: 16px 0 0;
    }

    /* Liste des Pokémon */

    .pokemon-card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: white;
        border-radius: 20px;
        padding: 16px;
        width: 1250px;
    }

    .card-display button {
        display: flex;
        align-items: center;
        gap: 16px;
        color: white;
        background-color: #C20808;
        white-space: nowrap;
        border-radius: 20px;
        padding: 12px 16px;
        border: none;
        font-size: 18px;

        img {
            transition: all 0.5s ease;
            &.rotated {
                transform: rotate(-180deg);
            }
        }
    }

    .card-display button:hover {
        background-color: #EE1515;
    }

    .pokemon-number {
        font-size: 24px;
    }

    .pokemon-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        flex-grow: 1;
    }

    .pokemon-types {
        display: flex;
        gap: 12px;
    }


    .pokemon-description {
        flex-basis: 445px;
    }

    .container-details {
        border-radius: 20px;
        padding: 30px;
        flex: 1;
        flex-basis: 0;
    }

    .border-detail {
        border: 2px solid #dfdfdf;
    }

    .pokemon-details-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .small-padding {
        display: flex;
        align-content: center;
        padding: 30px
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .statistique {
        display: flex;
        gap: 24px;

        .nom-stats, .valeurs-stats, .barres-stats {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .nom-stats {
            text-align: left;
            font-weight: bold;
            white-space: nowrap;
        }

        .barres-stats {width: 100%;}

        .barre-stats {
            border-style: solid;
            height: 20px;
            border-width: 2px;
        }

        #hp {background-color: #A8FFA0;}
        #attack {background-color: #FFA0A0;}
        #defense {background-color: #FDFFA0;}
        #special-attack {background-color: #FFD4A0;}
        #special-defense {background-color: #F6CC5E;}
        #speed {background-color: #B5FFFB;}
    }
}