<div class="equipe">
    <div class="headerEquipe">
        <span class="nomEquipe"></span>
    </div>
    <div class="pokemons">
        <button class="pokemon">
            <img src="/assets/plus.svg" alt="Plus">
        </button>

        <button class="pokemon">
            <img src="/assets/plus.svg" alt="Plus">
        </button>

        <button class="pokemon">
            <img src="/assets/plus.svg" alt="Plus">
        </button>

        <button class="pokemon">
            <img src="/assets/plus.svg" alt="Plus">
        </button>

        <button class="pokemon">
            <img src="/assets/plus.svg" alt="Plus">
        </button>

        <button class="pokemon">
            <img src="/assets/plus.svg" alt="Plus">
        </button>
    </div>
</div>