#profilWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;

    button:disabled {
        cursor: default;
        opacity: 50%;
    }

    .choix {
        width: 180px;

        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        padding: 4px;
    }

    #title {
        font-weight: normal;
        margin: 0;
        font-size: 40px;
    }

    .boutonAction {
        color: white;
        background-color: #C20808;
        border-radius: 20px;
        padding: 12px 16px;
        border: none;
    }

    .boutonAction:hover {
        background-color: #EE1515;
    }

    #mesEquipes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 32px;
        background-color: #DBDBDB;
        border-radius: 20px;
    }

    .equipe {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        background-color: white;
        border-radius: 20px;
        width: fit-content;
    }

    .headerEquipe {
        display: flex;
        padding: 16px 0;
    }

    .pokemons {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .item-sprite {
        margin-left: -50px;
    }

    .pokemon {
        background-color: #F0F0F0;
        border-radius: 20px;
        border: 4px solid #EE1515;
        padding: 10px;
        cursor: pointer;

        &.editing {
            border-color: gold;
        }
    }

    #creerEquipeWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #DBDBDB;
        border-radius: 50px;
        padding: 32px;
        gap: 16px;

        span {
            display: flex;
            gap: 8px;
        }
    }

    #nomEquipe {
        border-radius: 25px;
        border: 2px solid black;
        outline: none;
        padding: 8px;
    }

    .parametragePokemon {
        display: flex;
        flex-direction: column;
        gap: 32px;

        hr {
            border: 1px solid black;
            width: 100%;
        }

        button {
            background-color: #C20808;
            border-radius: 20px;
            border: none;
            outline: none;
            padding: 12px 16px;
            color: white;

            &:not(:disabled):hover {
                background-color: #EE1515;
            }
        }
    }

    .choixPkm {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .estChromatique {
        display: flex;
        align-items: center;
        gap: 4px;

        input {
            outline: none;
            width: 24px;
            height: 24px;
        }
    }

    .optionPkm {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;

        .separator {
            border: 1px solid black;
            height: 248px;
        }
    }

    .capacitesPkm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .capacite-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        gap: 8px;
        width: 248px;
        height: 108px;

        span {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        select {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 0; /* Hide the select but keep it functional */
        }
    }

    .boutonsAction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        span {
            color: red;
            font-size: 13px;
        }
    }
}